BOT_TOKEN=PASTE_NEW_BOT_TOKEN
OWNER_ID=YOUR_TELEGRAM_USER_ID
OWNER_USERNAME=YourOwnerUsername
SUPPORT_USERNAME=YourSupportUsername
LOG_CHAT_ID=
MONGO_DB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=shield_guard
